{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block aboutactive %} class="active" {% endblock %}
{% block content %}
      <div class="container">
        <h1>About</h1>
        <p>This super simple website it's an exepriment in python, Flask and Heroku.</p>
        <p>If you have any questions or advices please send me an e-mail to antbbn@gmail.com<p>
        <p>If you prefer you can find me on <a href="https://twitter.com/antbbn">twitter</a> or 
            <a href="https://github.com/antbbn">github</a></p>
      </div>

{% endblock %}
