{% extends "base.html" %}
{% block title %} Journals {% endblock %}
{% block journalsactive %} class="active" {% endblock %}
{% block content %}
      <div class="container">
        <h1>Journals List</h1>
        <p>This is the list of journals currently recognized by the app</p>
        
        {% if journals %}
        <ul>
            {% for journal in journals %}
            <li>{{ journal }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Contributing</h1>
        
        <p>You can contribute in a lot of ways, since there are many areas          that require improvement.<p>

        <p><b>Expanding the journal list</b><br>
       This is one of the most important thing at the moment and you can help by
        <ul>
            <li> Suggesting a new journal by providing some example citation and urls to the corresponding articles</li>
            <li> If you like writing python code or regexp i will happly include your extension to the 'soruces' module,<br>
            you can use the ones already present as an example (eg sources/mnras.py or sources/prd.py).</li>
        </ul>
        <p><b>Website improvement, bugs</b><br>
        Given that I am not the best web developer i will appreciate any suggestions or help to improve the overall experience so please feel free to drop me a line.</p>

      </div>
{% endblock %}
